.header
  img.icon(src="https://scontent-tpe1-1.xx.fbcdn.net/v/t1.0-9/19598579_1495008987188500_7726315900913146828_n.png?oh=e1afa914e586f5ef278789daabb57ce6&oe=5A2C9A8F", alt="")
.content.content_gray
 .max_width
   h4 Style guideline
   h1 Code Hostel
   h1.small_english English style  guideline for h1 title
   .title_hr
   h2 品牌視覺網站-30px 大標題
   h2.small_english English style  guideline for h2 title
   h3 品牌視覺網站-20px 大標題
   h3.small_english English style  guideline for h3 title

   hr
   h5 VI  COLORS
   .color_chip
    .color_tag #ffcc00
    .color_block.color_block_yellow
   .color_chip
    .color_tag #F7DBDF
    .color_block.color_block_blue
   .color_chip
    .color_tag #ffffff
    .color_block.color_block_white
   .color_chip
    .color_tag #a6a6a6
    .color_block.color_block_gray

   h5 BOTTON EXAMPLE
   .botton 按鈕範例
   .botton.botton_blue 按鈕範例
   .botton.botton_yellow 按鈕範例

.content.content_blue
 .max_width
   h4 Style guideline
   h1 Code Hostel
   h1.small_english English style  guideline for h1 title
   .title_hr
   h2 品牌視覺網站-30px 大標題
   h2.small_english English style  guideline for h2 title
   h3 品牌視覺網站-20px 大標題
   h3.small_english English style  guideline for h3 title

   hr
   h5 VI  COLORS
   .color_chip
    .color_tag #ffcc00
    .color_block.color_block_yellow
   .color_chip
    .color_tag #F7DBDF
    .color_block.color_block_blue
   .color_chip
    .color_tag #ffffff
    .color_block.color_block_white
   .color_chip
    .color_tag #a6a6a6
    .color_block.color_block_gray

   h5 BOTTON EXAMPLE
   .botton 按鈕範例
   .botton.botton_blue 按鈕範例
   .botton.botton_yellow 按鈕範例

.content.content_white
 .max_width
   h4 Style guideline
   h1 Code Hostel
   h1.small_english English style  guideline for h1 title
   .title_hr
   h2 品牌視覺網站-30px 大標題
   h2.small_english English style  guideline for h2 title
   h3 品牌視覺網站-20px 大標題
   h3.small_english English style  guideline for h3 title

   hr
   h5 VI COLORS
   .color_chip
    .color_tag #ffcc00
    .color_block.color_block_yellow.hua
   .color_chip
    .color_tag #F7DBDF
    .color_block.color_block_blue.hua
   .color_chip
    .color_tag #ffffff
    .color_block.color_block_white.hua
   .color_chip
    .color_tag #a6a6a6
    .color_block.color_block_gray.hua

   h5 BOTTON EXAMPLE
   .botton 按鈕範例
   .botton.botton_blue 按鈕範例
   .botton.botton_yellow 按鈕範例






